body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: rgb(255, 254, 252);
    position: relative;
    scroll-behavior: smooth;
    box-sizing: border-box;
    max-width: 100vw;
}

body.stop-transitions * {
    transition: none !important;
}

.no-scroll {
    overflow: hidden;
}

                            /*NAVBAR AND HERO*/              

#hero {
    
    background: url(images/cafewideshot.jpg) no-repeat center center;
    background-size: cover;
    height: 800px;
    position: relative;
}

#hero-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    
}

#navbar img {
    width: 170px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;

}

#nav-links a {
    text-decoration: none;
    color: rgb(247, 238, 235);
}

#nav-links a:hover {
    color: rgb(227, 99, 91);
    font-weight: bold;
    transition: 0.5s;
}

li { 
    text-decoration: none;
    list-style: none;
}

 #nav-links {
    display: flex;
    
    font-size: 20px;
       
    gap: 1em;
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 30px;
}

.mobile-nav-toggle {
    display: none;
}

#title {
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 9vw;
    letter-spacing: 8px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    left: 30px;
}


@media screen and (max-width: 768px) {


    #navbar img {
        width: 100px;
    }

    #nav-links {
        position: fixed;
        inset: 0;

        width: 100%;
        height: 100vh;
        background: rgb(245, 241, 235);

        gap: 2em;
    
        z-index: 1000;
        flex-direction: column;
        align-items: center;
        
        margin: 0;
        padding: min(20vh, 15rem) 10rem;
        padding-inline-start: 0;

        opacity: 0;
        transition: .5s;
    }

    #nav-links[data-visible="true"] {

        opacity: 1;
        transition: .5s;
        
        will-change: transform;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background: url(images/white-menu-icon-transformed.png);
        
        background-size: cover;
        border: none;
        width: 3rem;
        aspect-ratio: 1;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 9999;

        cursor: pointer;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background: url(images/close-line.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 1.5rem;
        position: absolute;
        top: 2.25rem;
        right: 2.25rem;
        cursor: pointer;
    }

    #nav-links a {
        font-size: 30px;
        color: rgb(69, 58, 61);
    }

    #title {
        font-size: 13vw;
        width: 200px;
    }

}



                            /*REFUGE BANNER AND IMAGE TRIO*/

#refuge-banner {
    padding: 200px 5%;
    text-align: center;
    font-size: 2vw;
    color: rgb(69, 58, 61);
}

#image-trio {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 125px;
    margin-left: 60px;
    margin-right: 60px;
}

#image-trio img {
    
    width: 28vw;
    
    padding: 20px 1%;
}

@media screen and (max-width: 1023px) {
    #refuge-banner {
        font-size: 20px;
        padding: 150px 5%;
    }
}

@media screen and (max-width: 1200px) {
    #image-trio {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 75px;
    }

    #image-trio img {
        width: 40vw;
        min-width: 375px;
    }
}

@media screen and (max-width: 768px) {
    #refuge-banner {
        padding: 100px 5%;
    }

    #image-trio {
        margin-bottom: 40px;
    }
}

                            /*CUP STACKS BANNER*/

#single-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 241, 235);
    padding: 10px;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;

    z-index: 1;
}

#single-image::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: -28%;
    background-image: url("images/owlwing2.jpg");
    background-repeat: no-repeat;
    opacity: 0.05;
}

#single-image-text {
    padding: 80px;
    font-size: 2vw;
    color: rgb(69, 58, 61);
    z-index: 3;
}

#single-image img {
    max-width: 100%;
    width: 400px;
    padding: 80px;
    z-index: 3;
}

@media screen and (max-width: 1023px) {
    #single-image {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #single-image::before {
        
        position: absolute;
       
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: -68%;
    }
}

@media screen and (max-width: 1023px) {
   body #single-image-text {
        font-size: 22px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) {
    #single-image-text {
        padding: 20px;
    }

    #single-image img {
        padding: 40px;
    }

    #single-image::before {
        
        position: absolute;
       
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: -88%;
    }
}

                            /*LOCATION BANNER*/

#exterior-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

#exterior-image img {
    max-width: 100%;
    width: 55%;
    padding: 40px
}

#exterior-image-text {
    font-size: 2vw;
    color: rgb(69, 58, 61);
    padding: 40px;
}

#exterior-image-text a {
    text-decoration: none;
    color: rgb(184, 65, 51)
}
#exterior-image-text a:hover {
    color: rgb(214, 91, 77);
    transition: 0.3s;
}

@media screen and (max-width: 1023px) {
    #exterior-image {
        display: flex;
        flex-direction: column-reverse;
    }

    #exterior-image img {
        width: 600px;
    }

    #exterior-image-text {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    #exterior-image {
        margin-top: 50px;
        margin-bottom: 50px;
    }  

    #exterior-image img {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }
}


                            /*CONTACT_INFO*/

#contact-info-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: rgb(245, 241, 235);
    margin-left: 30px;
    margin-right: 30px;
    color: rgb(69, 58, 61);
    border-radius: 10px 10px 0 0;
}

.block {
    border-radius: 5%;
    padding: 20px;
    width: 300px;
    text-align: center;
}

#color-text {
    color: rgb(78, 120, 83);
    font-size: 20px;

}

@media screen and (max-width: 1023px) {
    #contact-info-container{
        margin: 0;
        border-radius: 0;
    }
}

@media screen and (max-width: 800px) {
    #contact-info-container {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .block {
        border-radius: 5%;
        padding: 10px;
        width: 300px;
        text-align: center;
    }
}

                            /*FOOTER*/


footer {
    padding-bottom: 10px;
    background-color: rgb(245, 241, 235);
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
}

#footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    max-width: 100%;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px rgba(168, 124, 111, 0.1);
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

#copyright {
   /* position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;*/
    color: rgb(78, 120, 83);
}

#indent {
    display: block;
    text-indent: 0.6em;
}

@media screen and (max-width: 1023px) {
    footer{
        margin: 0;
    }

    #logo {
        width: 225px;
    }
}

@media screen and (max-width: 768px) {
    #logo {
        width: 150px;
    }
}